@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #171717;
    --primary-foreground: #f8fafc;
    --secondary: #31d972;
    --secondary-foreground: #171717;
    --muted: #f1f5f9;
    --muted-foreground: #4b5563;
    --accent: #8b5cf6;
    --accent-foreground: #171717;
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #0a0a0a;
    --radius: 0.5rem;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #f8fafc;
    --card: #0a0a0a;
    --card-foreground: #f8fafc;
    --popover: #0a0a0a;
    --popover-foreground: #f8fafc;
    --primary: #f8fafc;
    --primary-foreground: #171717;
    --secondary: #31d972;
    --secondary-foreground: #f8fafc;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --accent: #a78bfa;
    --accent-foreground: #f8fafc;
    --destructive: #f87171;
    --destructive-foreground: #f8fafc;
    --border: #27272a;
    --input: #27272a;
    --ring: #d4d4d8;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}